body
{
    margin: 0px;
}
.container
{
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form
{
    width: 300px;
    height: 300px;
    margin: 0px 10px;
    background-color:darkcyan;
}
ul
{ 
    list-style-type: none;
}
ul button
{
    font-weight: bold;
    padding: 10px;
    float: left;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    color: rgb(0,0,0);
    margin-left: 80px;
}
ul button:hover
{
    color:white;
	background-color:darkred;
}
#lilogin
{
    margin-left: 80px;
}
#liuser 
{
    margin-left:20px;
}
#lisenha
{
    margin-left:20px;
}